/* Quote Text Fade classes */

.fade-quote-enter {
  opacity: 0;

  &-active {
    opacity: 1;
    transition: opacity $transition-duration linear $transition-duration / 1.5;
  }

  &-done {
    opacity: 1;
    transition: opacity $transition-duration linear;
  }
}

.fade-quote-exit {
  opacity: 1;

  &-active {
    opacity: 0;
    transition: opacity $transition-duration linear;
  }

  &-done {
    opacity: 0;
  }
}

/* Background Overlay Fade classes */

.overlay-exit {
  opacity: 0;

  &-active {
    opacity: 1;
    transition: opacity $transition-duration linear;
  }

  &-done {
    opacity: 1;
  }
}

.overlay-enter {
  opacity: 1;

  &-active {
    opacity: 1;
    transition: opacity 0 linear $transition-duration;
  }

  &-done {
    opacity: 0;
    transition: opacity $transition-duration linear $transition-duration;
  }
}
