@import "../styles/utility/zindex";
@import "../styles/variables";

html,
body,
#root {
  width: 100%;
  height: 100%;
}

.background {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: map-get($zindex, background);
}

.background .container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.background .background-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: map-get($zindex, background-overlay);
}

/* Background Overlay Fade classes - Used with CSSTransition from react-transition-group */

.overlay-exit {
  opacity: 0;

  &-active {
    opacity: 1;
    transition: opacity $transition-duration linear;
  }

  &-done {
    opacity: 1;
  }
}

.overlay-enter {
  opacity: 1;

  &-active {
    opacity: 0;
    transition: opacity $transition-duration linear;
  }

  &-done {
    opacity: 0;
  }
}
