@import "../styles/variables";

#buttons-bar {
  display: flex;
  justify-content: space-between;
  border-top: none;
  background-color: transparent;
}

.btn {
  transition: background-color $transition-duration linear;
}
